h2{
    text-align: justify;
}

img{
width: 50px;
}
label{
    font-size: 40px;
}
button{
    background-color: darkgreen;
}
th{
    background-color: yellow;
}
.cambiar-color:hover{
    filter: invert(100%);
}